Repository JesseKoldewijn/hbs-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, ci

.github/labeler.yml:

documentation:
  - readme.md
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - SECURITY.md
dependencies:
  - package.json
  - pnpm-lock.yaml
ci:
  - .github/workflows/*
  - scripts/*

ci/core: added ci action + improved build setup
  .github/workflows/ci-test-build.yml
  build-project.cjs
  jereko-hbs.config.cjs
  package.json
  public/styles/core.css
Labels: dependencies, ci

chore: cleanup of deps
  package.json
  pnpm-lock.yaml
Labels: dependencies

fix: removal of infinite call loop in build process
  build-project.cjs
  package.json
Labels: dependencies

feat: added vercel deploy flow
  package.json
  pnpm-lock.yaml
  src/routes/index.hbs
  vercel.json
Labels: dependencies

fix: added missing doctype tag
  .prettierignore
  public/libs/htmx.min.js
  public/site.webmanifest
  src/layouts/main.hbs
  src/routes/about/index-ctx.ts
  src/routes/about/index.hbs
Labels: none

fix: lazyload on htmx
  pnpm-lock.yaml
  public/core/htmxLoader.js
  public/core/main.js
  src/layouts/main.hbs
Labels: dependencies

fix: re-minified htmx lib file
  .prettierignore
  public/libs/htmx.min.js
Labels: none

fix: made scroll list smaller - prevents tbt issues
  src/data/items.ts
  src/routes/index.hbs
Labels: none

fix: small tweak on client js setup
  package.json
  pnpm-lock.yaml
  public/core/loaders/coreLoaders.js
  public/core/loaders/htmxLoader.js
  public/core/loaders/jqueryLoader.js
  public/core/viewTransition.js
  public/libs/htmx.min.js
  public/libs/jquery.min.js
  public/libs/sources.txt
  public/styles/core.css
  public/styles/core.css.map
  server.ts
  src/client/core/loaders/coreLoaders.ts
  src/client/core/loaders/htmxLoader.ts
  src/client/core/loaders/jqueryLoader.ts
  src/client/core/main.ts
  src/client/core/viewTransition.ts
  src/client/libs/htmx.min.js
  src/client/libs/jquery.min.js
  src/client/libs/sources.txt
  src/config/hbs/partials.ts
  tsconfig.client.json
Labels: dependencies

fix: added lib+core compile step to build script
  build-project.cjs
Labels: none

feat: added navbar + anchor fallback handling
  public/core/viewTransition.js
  public/styles/core.css
  public/styles/core.css.map
  src/client/core/viewTransition.ts
  src/layouts/main.hbs
  src/partials/header.hbs
  src/routes/about/index.hbs
  src/routes/index.hbs
  src/server/lib/hbs/customHelpers/bc/currency/money.ts
  src/server/lib/hbs/customHelpers/bc/string/truncate.ts
  src/server/lib/hbs/customHelpers/index.ts
  src/styles/components/button.scss
Labels: none

feat: added custom flow for page transition if hx-boost is not defined
  public/core/dom-booster.js
  public/core/loaders/coreLoaders.js
  public/core/loaders/htmxLoader.js
  public/core/main.js
  public/core/viewTransition.js
  src/client/core/loaders/coreLoaders.ts
  src/client/core/loaders/htmxLoader.ts
  src/client/core/main.ts
  src/client/core/viewTransition.ts
  src/client/libs/sources.txt
  src/partials/header.hbs
Labels: none

fix: small tweak on loading state htmx fetch list + repair of nav links
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  public/core/viewTransition.js
  public/styles/core.css
  public/styles/core.css.map
  src/client/core/viewTransition.ts
  src/layouts/main.hbs
  src/partials/header.hbs
  src/routes/index.hbs
  src/styles/components/button.scss
Labels: dependencies

feat: added font, preload story and such
  public/core/loaders/htmxLoader.js
  public/core/loaders/jqueryLoader.js
  public/core/main.js
  public/fonts/Geist-Regular.ttf
  public/fonts/GeistVF.woff
  public/fonts/GeistVF.woff2
  public/styles/core.css
  public/styles/core.css.map
  src/client/core/loaders/coreLoaders.ts
  src/client/core/loaders/htmxLoader.ts
  src/client/core/loaders/jqueryLoader.ts
  src/client/core/main.ts
  src/layouts/main.hbs
  src/partials/head.hbs
  src/routes/index.hbs
  src/styles/core.scss
Labels: none

fix: small layout tweak on list items
  public/styles/core.css
  public/styles/core.css.map
  src/api/getItems/index.html.ts
  src/routes/index.hbs
Labels: none

feat: added js lib + core minification
  build-project.cjs
  minify-core.mjs
  package.json
  pnpm-lock.yaml
  public/core/dom-booster.js
  public/core/loaders/coreLoaders.js
  public/core/loaders/htmxLoader.js
  public/core/loaders/jqueryLoader.js
Labels: dependencies

cleanup: removal of preload on scripts + fonts which dont need it
  src/partials/head.hbs
Labels: none

fix: added vercel config cache headers
  vercel.json
Labels: none

fix: small tweak of sources in headers config
  vercel.json
Labels: none

fix: added txt file to cache headers config
  vercel.json
Labels: none

fix: small tweak on script loading flow
  package.json
  pnpm-lock.yaml
  src/layouts/main.hbs
  src/partials/head.hbs
  tsconfig.json
Labels: dependencies

fix: moved to cnd based jquery + htmx source
  src/layouts/main.hbs
Labels: none

docs: added build + serve description in readme
  README.md
Labels: none

fix: repair of headers config in vercel.json
  vercel.json
Labels: none

fix: repair of headers config in vercel.json - v2
  vercel.json
Labels: none

feat: added active state handler globally on all anchor tags
  public/core/application-core.js
  public/core/main.js
  public/core/page-logic/active-links.js
  public/styles/core.css
  public/styles/core.css.map
  src/client/core/application-core.ts
  src/client/core/main.ts
  src/client/core/page-logic/active-links.ts
  src/layouts/main.hbs
  src/partials/header.hbs
  src/routes/about/index-ctx.ts
  src/routes/index-ctx.ts
  src/styles/components/button.scss
  tsconfig.client.json
Labels: none

fix: preload woff2 as default font type
  public/core/page-logic/active-links.js
  src/partials/head.hbs
Labels: none

dev: checkpount of client js compile flow
  compile-js.cjs
  package.json
  pnpm-lock.yaml
  public/core/active-links-T7KRBVJ6.js
  public/core/application-core-2XKMOHXN.js
  public/core/application-core.js
  public/core/main.js
  public/core/page-logic/active-links.js
  public/core/viewTransition.js
  src/partials/head.hbs
Labels: dependencies

fix: moved ts>js compile to esbuild instead of tsc
  build-project.cjs
  compile-js.cjs
  package.json
  pnpm-lock.yaml
  public/core/active-links-IRPVC5CZ.js
  public/core/active-links-T7KRBVJ6.js
  public/core/application-core-2XKMOHXN.js
  public/core/application-core-O53T2BM5.js
  public/core/chunk-JG7V63GM.js
  public/core/main.js
  public/libs/htmx.min.js
  public/libs/jquery.min.js
  public/styles/core.css
  public/styles/core.css.map
  src/client/core/jq-slim.d.ts
  src/client/core/main.ts
  src/client/core/page-logic/active-links.ts
  src/client/libs/htmx.min.js
  src/client/libs/jquery.min.js
  src/client/libs/sources.txt
  src/layouts/main.hbs
Labels: dependencies

fix: small tweak on script compile flow
  compile-assets.js
  package.json
  pnpm-lock.yaml
  public/styles/core.css
  public/styles/core.css.map
Labels: dependencies

fix: update of lockfile
  pnpm-lock.yaml
  public/styles/core.css
  public/styles/core.css.map
Labels: dependencies

feat: added new theme
  public/styles/core.css
  public/styles/core.css.map
  src/api/getItems/index.html.ts
  src/partials/header.hbs
  src/routes/about/index.hbs
  src/routes/index.hbs
  src/styles/components/button.scss
  src/styles/core.scss
Labels: none

fix: propper fallback for svt missing
  public/core/main.js
  public/styles/core.css
  public/styles/core.css.map
  src/client/core/viewTransition.ts
Labels: none

fix: disabled view transition on safarie, ie and samsung browser
  package.json
  pnpm-lock.yaml
  public/core/main.js
  src/client/core/viewTransition.ts
Labels: dependencies

feat: added partial setup for code highlighting
  package.json
  pnpm-lock.yaml
  src/routes/about/index.hbs
  src/server/lib/hbs/customHelpers/codeHighlighters/hbs.ts
  src/server/lib/hbs/customHelpers/codeHighlighters/index.ts
  src/server/lib/hbs/customHelpers/codeHighlighters/typescript.ts
  src/server/lib/hbs/customHelpers/index.ts
Labels: dependencies

feat: added code block setup combined with custom helper, formatter and helper funtion highlighting
  package.json
  pnpm-lock.yaml
  public/styles/core.css
  public/styles/core.css.map
  src/routes/about/index.hbs
  src/server/lib/hbs/customHelpers/codeHighlighters/hbs.ts
  src/server/lib/hbs/customHelpers/codeHighlighters/index.ts
  src/server/lib/hbs/customHelpers/codeHighlighters/typescript.ts
  src/styles/core.scss
Labels: dependencies

feat: cleanup of codeblock helper usage
  public/styles/core.css
  public/styles/core.css.map
  src/routes/about/index.hbs
Labels: none

chore: cleanup of code + unused imports
  public/core/main.js
  public/fonts/GeistVF.woff
  public/styles/core.css
  public/styles/core.css.map
  src/client/core/viewTransition.ts
  src/layouts/main.hbs
  src/partials/head.hbs
  src/server/lib/hbs/customHelpers/codeHighlighters/hbs.ts
  src/styles/core.scss
Labels: none

fix: replaced old with new logic on active links flow
  public/core/active-links-GSFUTULJ.js
  public/core/active-links-IRPVC5CZ.js
  public/core/application-core-O53T2BM5.js
  public/core/application-core-XJ6DZ654.js
  public/core/main.js
  src/client/core/page-logic/active-links.ts
Labels: none

fix: repair of js functionality
  public/core/active-links-GSFUTULJ.js
  public/core/active-links-RP73M73K.js
  public/core/application-core-IWY5PJY2.js
  public/core/application-core-XJ6DZ654.js
  public/core/main.js
  src/client/core/page-logic/active-links.ts
Labels: none
